{% extends "_base.html" %}
{% load static %}
{% block content %}

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Find Trust Score</h2>
        <form method="post" action="{% url 'trust_score' %}">
            {% csrf_token %}
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <label for="ID" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Domain Address</label>
                    <input type="text" name="domain_name" id="domain_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Enter Company domain address like google.com" required="">
                </div>
            </div>
            <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Find Trust Score
            </button>
        </form>
          {% if domain_name %}
            <div id="info-popup" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
              <div class="relative p-4 w-full max-w-lg h-full md:h-auto">
                  <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 md:p-8">
                      <div class="mb-4 text-sm font-light text-gray-500 dark:text-gray-400">
                          <h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">Domain Name: {{ domain_name }}</h3>
                          <p class="text-xl">
                              Trust Score: {{ trust_score }}
                          </p>
                      </div>
                      <div class="justify-between items-center pt-0 space-y-4 sm:flex sm:space-y-0">
                          <div class="items-center space-y-4 sm:space-x-4 sm:flex sm:space-y-0">
                              <button id="close-modal" type="button"  class="py-2 px-4 w-full text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 sm:w-auto hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Close</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          {% endif %}
    </div>
  </section>
{% endblock content %}