{% extends "_base.html" %}
{% load static %}
{% block content %}

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Validate Certificate</h2>
        <form method="post" action="{% url 'verify_certificate' %}">
            {% csrf_token %}
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <label for="ID" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Certificate ID</label>
                    <input type="text" name="certificate_id" id="certificate_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Enter Certificate ID" required="">
                </div>
            </div>
            <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Validate
            </button>
        </form>
          {% if certificate_id %}
            {% if certificate_valid %}
              <p class="block mb-2 mt-4 text-sm font-medium text-gray-900 dark:text-white">Certificate is valid!</p>
              <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Certificate Data for ID : {{ certificate_id }}</p>
              <ul>
                <li class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name: {{ certificate_data.name }}</li>
                <li class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Organization: {{ certificate_data.organization }}</li>
                <li class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Certified For: {{ certificate_data.certificateFor }}</li>
                <li class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Assigned Date: {{ certificate_data.assignedDate }}</li>
                <li class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Expire Date: {{ certificate_data.expireDate }}</li>
              </ul>
            {% else %}
              <p class="block mb-2 mt-4 text-sm font-medium text-gray-900 dark:text-white">Certificate is invalid.</p>
            {% endif %}
          {% endif %}
    </div>
  </section>
{% endblock content %}